/* src/components/about/About.module.css */

.aboutSection {
    background-color: #f0f0f0;
    padding-top: 80px;
    /* Add padding to top */
    padding-bottom: 80px;
    /* Add padding to bottom */
}

.imageWrapper {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.aboutImage {
    width: 600%;
    height: 550px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.aboutImage:hover {
    transform: scale(1.05);
}

.textContainer {
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}

.textWrapper {
    background: rgba(255, 255, 255, 0.95);
    /* Reduced transparency for better readability */
    padding: 30px;
    border-radius: 8px;
}

.sectionTitle {
    font-size: 32px;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sectionTitle::after {
    content: "";
    width: 60px;
    height: 4px;
    background-color: var(--bs-primary);
    position: absolute;
    left: 0;
    bottom: -10px;
}

.text-primary {
    color: #0d6efd !important;
}

.row p {
    color: #495057;
    font-size: 16px;
}

.row p i {
    color: #0d6efd;
}